<!--
 * @Description: 
 * @Author: river
 * @Date: 2019-05-15 17:30:32
 * @LastEditTime: 2019-05-17 11:15:14
 * @LastEditors: huanghe
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
    <style type="text/css">

    </style>
</head>

<body>
    <div id="app">



        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加平台</h3>
            </div>
            <div class="panel-body form-inline">

                <label>
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>

                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name" @keyup.enter='add'>
                </label>

                <!-- 在vue中使用事件绑定机制为元素指定处理函数的时候，如果加了小括号可以传递参数 -->
                <input type="button" value="添加" class="btn btn-primary" @click='add'>

                <label>
                    搜索名称关键字:
                    <input type="text" class="form-control" v-model="keywords" v-focus>
                </label>

            </div>
        </div>



        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 指令可以得到任何的数据 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{ item.id}}</td>
                    <td>{{ item.name}}</td>
                    <td>{{ item.ctime | dateFormate()}}</td>
                    <td>
                        <a href="" @click.prevent='del(item.id)'>删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div id="app2">
        <h3 v-color="'pink'" v-fontweight="900">{{msg | dateFormate }}</h3>
    </div>
    <script>
        // 时间格式化,pattern=""ES6语法的默认值
        Vue.filter('dateFormate', function (dateStr, pattern = "") {
            // 根据给定的时间字符串，得到特定的时间
            var dt = new Date(dateStr);

            var y = dt.getFullYear();
            var m = dt.getMonth() + 1;
            var d = dt.getDay() + 1;

            if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                return `${y}-${m}-${d}`;
            } else {
                var hh = dt.getHours();
                var mm = dt.getMinutes();
                var ss = dt.getSeconds();
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
            }
        });


        // 自定义全局指令
        // 参数1:指令的名称，注意，在定义的时候，指令名称的前面不需要加v-前缀
        // 在调用的时候必须在指令的名称前加上v-前缀进行调用
        // 参数2：对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段执行相关的操作
        Vue.directive('focus', {
            //el：指令绑定到哪个元素上，el就是那个元素
            bind: function (el) { //每当指令绑定到元素上的时候，会执行bind函数，只执行一次
                // 注意：在每个函数中，第一个参数，永远是el,原生的js对象
                // 在元素刚绑定指令的时候，此时元素并没有放到DOM中去，是不会获取到焦点的
                // 因为一个元素只有插入到DOM中之后才能获取到焦点
                el.focus();

            },
            inserted: function (el) { //元素插入到DOM中时候，会执行inserted函数
                el.focus();
            },
            updated: function () { // 当VNode更新的时候会执行update,可能会触发多次

            },
        });


        // 自定义一个 设置字体颜色的 指令
        Vue.directive('color', {
            // 样式，只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，这个元素肯定有了一个内联的样式
            // 将来元素肯定会显示到页面中，这时候，浏览器的渲染引擎必然会解析样式，应用给这个元素
            bind: function (el, binding) {
                // el.style.color = 'red'
                // console.log(binding.name)
                // 和样式相关的操作，一般都可以在 bind 执行

                // console.log(binding.value)
                // console.log(binding.expression)

                el.style.color = binding.value
            }
        })


        //创建Vue实例，得到ViewModel
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [{
                        id: 1,
                        name: '奔驰',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '宝马',
                        ctime: new Date()
                    },
                ]
            },
            methods: { //methods定义vue实例所有可用的方法
                add() {
                    // 添加的方法
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    });
                },
                del(id) {
                    // 根据id找索引
                    this.list.some((item, index) => {
                        if (item.id == id) {
                            // 从index处删除一个元素
                            this.list.splice(index, 1);
                            return true;
                        }
                    })
                },
                // 自定义search方法，把搜索的关键字通过传参的方式传给search方法
                search(keywords) {
                    var newList = [];
                    this.list.forEach(item => {
                        if (item.name.indexOf(keywords) != -1) {
                            newList.push(item);
                        }
                    });
                    return newList;
                }
            },
        });

        // 私有过滤器
        var vm2 = new Vue({
            el: '#app2',
            data: {
                msg: new Date(),
            },
            method: {},
            filters: { //私有过滤器
                dateFormate: function (dateStr, pattern = "") {
                    // 根据给定的时间字符串，得到特定的时间
                    var dt = new Date(dateStr);

                    var y = dt.getFullYear();
                    var m = dt.getMonth() + 1;
                    var d = dt.getDay() + 1;

                    if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                        return `${y}-${m}-${d}`;
                    } else {
                        var hh = dt.getHours();
                        var mm = dt.getMinutes();
                        var ss = dt.getSeconds();
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss} ----`;
                    }
                }
            },
            directives: { // 自定义私有指令
                'fontweight': { // 设置字体粗细的
                    bind: function (el, binding) {
                        el.style.fontWeight = binding.value
                    }
                },
                'fontsize': function (el, binding) { // 注意：这个 function 等同于 把 代码写到了 bind 和 update 中去
                    el.style.fontSize = parseInt(binding.value) + 'px'
                }
            }
        });
    </script>
</body>

</html>